<div class="row">
    <div class="sheetLeft">
        <article class="post onLight">
            <div class="newsPostHeader">
                <ul class="list-inline hidden-xs">
                    <li ng-repeat="menu in menus">
                        <a  class="btn menuButton" id="{{menu.menu_name}}" ng-click="currentMenu(menu,$event);menuStatus('',$event)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">{{menu.menu_name}}
                        </a></li></ul>
                <div>
                    <!--{{menus}}-->
                  <setting-menu ng-repeat="menu in menus" menu="menu" items="this_rest_menu_items" restaurant="current_rest" current="menu_type" ng-show="currentDirective(menu)"></setting-menu>
                </div>

            </div>
        </article>
    </div>
</div>