<div class="row">
    <div class="sheetLeft">
        <article class="post onLight">
            <div class="newsPostHeader">
                <ul class="list-inline hidden-xs">
                    <li >
                        <a  class="btn menuButton onYellow" ng-click="menuStatus('new',$event)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                          New Orders
                         </a>
                    </li>
                    <li >
                        <a  class="btn menuButton"  ng-click="menuStatus('delivered',$event)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                           Delivered Orders

                        </a>
                    </li>
                    <li >
                        <a  class="btn menuButton" ng-click="menuStatus('rejected',$event)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                           Rejected Orders

                        </a>
                    </li>
                    <li >
                        <a  class="btn menuButton" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                          History

                        </a>
                    </li>
                </ul>
                <div>
                    <setting-orders orders="orders" status="o_status" restaurant="restaurant_id"></setting-orders>
                </div>

            </div>
        </article>
    </div>
</div>