<div class="row" ng-controller="loginController">
    <div class="col-lg-3">
        <aside class="aside onLight bgGray">

        </aside>
    </div>
    <div class="col-lg-6">
        <aside class="aside onLight bgGray">
            <div class="block">
                <h6 class="blockUlHeader">Login</h6>
                <ul class="blockUl">
                    <li class="input-field noPadding">
                        <input id="username" type="text" ng-model="user.username" class="validate">
                        <label for="username" class="">User Name</label>
                    </li>
                    <li class="input-field noPadding">
                        <input id="password" type="password" ng-model="user.password" class="validate">
                        <label for="password" class="">Password</label>
                    </li>
                    <li class="input-field noPadding">
                        <a id="login" class="btn rised rippleWrap" ng-click="processLogin(user)">Login</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="col-lg-3">
        <aside class="aside onLight bgGray">

        </aside>
    </div>
</div>